# Node
package-lock.json
node_modules/

# Generated content
resources/_gen/
public/**
## Allow redirect file.
!public/_redirects
assets/js/version-switcher.js
assets/js/release-switcher.js

# IDEs
.vscode
**/.idea/
.coverage

# Python file for sync
tkn_web_env
**/.venv
**/__pycache__/

# Sync cache
sync/.cache

# Local Netlify folder
.netlify

# MacOS folders
**/.DS_Store
